<div class="max-w-3xl mx-auto px-4 py-8" *ngIf="isEdit">
  <div class="bg-gradient-to-r from-purple-700 to-pink-700 rounded-lg mb-5">
    <h1 class="text-2xl mb-4 font-bold text-white p-4">Edit experience</h1>
  </div>

  <!-- Formulaire d'ajout d'une nouvelle formation -->
  <form (submit)="editExperience()">
    <div
      class="grid grid-rows-4 grid-flow-col gap-4 bg-slate-800 rounded-lg m-3 p-3 mt-5"
    >
    <div class="row-span-1">
      <label for="school" class="text-white 500">Title</label>
      <input
        type="text"
        id="title"
        name="title"
        [(ngModel)]="experience.title"
        class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
        required
      />
    </div>

    <div class="row-span-1">
      <label for="school" class="text-white 500">Company</label>
      <input
        type="text"
        id="company"
        name="company"
        [(ngModel)]="experience.company"
        class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
        required
      />
    </div>

    <div class="row-span-1">
      <label for="school" class="text-white 500">Location</label>
      <input
        type="text"
        id="location"
        name="location"
        [(ngModel)]="experience.location"
        class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
        required
      />
    </div>

    <div class="row-span-1">
      <label for="startDate" class="text-white 500">Start Date</label>
      <input
        type="date"
        id="startDate"
        name="startDate"
        [(ngModel)]="experience.startDate"
        class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
        required
      />
    </div>

    <div class="row-span-3">
      <label for="description" class="text-white 500">Description</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="experience.description"
        class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
        rows="8"
        required
      ></textarea>
    </div>

    <div class="row-span-1">
      <label for="endDate" class="text-white 500">End Date</label>
      <input
        type="date"
        id="endDate"
        name="endDate"
        [(ngModel)]="experience.endDate"
        class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
        required
      />
    </div>

    </div>
    <div class="mb-6 px-3 text-right">
      <div>
        <button
          type="submit"
          class="buttons text-gray-300 bg-slate-700 rounded-lg hover:text-white hover:bg-slate-600 py-2 px-3 mx-3"
        >
          Save modification
        </button>
        <button
          (click)="cancel()"
          class="buttons text-gray-300 bg-slate-700 rounded-lg hover:text-white hover:bg-slate-600 py-2 px-3"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>

<div class="max-w-3xl mx-auto px-4 py-8" *ngIf="!isEdit">
  <div class="bg-gradient-to-r from-purple-700 to-pink-700 rounded-lg mb-5">
    <h1 class="text-2xl mb-4 font-bold text-white p-4">Add a new experience</h1>
  </div>

  <!-- Formulaire d'ajout d'une nouvelle formation -->
  <form (submit)="addExperience()">
    <div
      class="grid grid-rows-4 grid-flow-col gap-4 bg-slate-800 rounded-lg m-3 p-3 mt-5"
    >
      <div class="row-span-1">
        <label for="school" class="text-white 500">Title</label>
        <input
          type="text"
          id="school"
          name="school"
          [(ngModel)]="newExperience.title"
          class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div class="row-span-1">
        <label for="school" class="text-white 500">Company</label>
        <input
          type="text"
          id="school"
          name="school"
          [(ngModel)]="newExperience.company"
          class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div class="row-span-1">
        <label for="school" class="text-white 500">Location</label>
        <input
          type="text"
          id="school"
          name="school"
          [(ngModel)]="newExperience.location"
          class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div class="row-span-1">
        <label for="startDate" class="text-white 500">Start Date</label>
        <input
          type="date"
          id="startDate"
          name="startDate"
          [(ngModel)]="newExperience.startDate"
          class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
          required
        />
      </div>

      <div class="row-span-3">
        <label for="description" class="text-white 500">Description</label>
        <textarea
          id="description"
          name="description"
          [(ngModel)]="newExperience.description"
          class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
          rows="8"
          required
        ></textarea>
      </div>

      <div class="row-span-1">
        <label for="endDate" class="text-white 500">End Date</label>
        <input
          type="date"
          id="endDate"
          name="endDate"
          [(ngModel)]="newExperience.endDate"
          class="w-full text-white bg-slate-700 rounded-lg p-2 focus:outline-none focus:shadow-outline"
          required
        />
      </div>
    </div>
    <div class="mb-6 px-3 text-right">
      <div>
        <button
          type="submit"
          class="buttons text-gray-300 bg-slate-700 rounded-lg hover:text-white hover:bg-slate-600 py-2 px-3 mx-3"
        >
          Add new experience
        </button>
        <button
          (click)="cancel()"
          class="buttons text-gray-300 bg-slate-700 rounded-lg hover:text-white hover:bg-slate-600 py-2 px-3"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
